<div class="dropdown-custom">
		<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			Choose a type of media
		</button>
		<ul class="dropdown-menu">
			<li>
				<a class="dropdown-item" href="{{path('app_book_list')}}">Book</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">Comic</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">BD</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">Manga</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">CD</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">LP</a>
			</li>
		</ul>
	</div>