<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addModalLabel">Sign Up</h5>
				<button type="button" class="btn-close" data-bs-dismiss="addModal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				{# {% include "registration/register.html.twig" %} #}

        {# Possibilité de faire un render directement dans le fichier twig, afin d'appeler le formulaire d'inscription#}
        {# {{ render(controller('App\\Controller\\BookController::add')) }} #}


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Ok</button>
			</div>

		</div>
	</div>
</div>
