{% extends 'base.html.twig' %}


{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<body>
		<header>
			<div class="header">


				<nav class="navbar navbar-expand-sm">
					<a class="navbar-brand logo" href="#">
						<img src="../public/images/logo.png">
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav">

						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
						<ul class="navbar-nav align-items-end">
							<li class="nav-item">
								<a href="{{ path('app_register')}}" class="nav-link custom-font" data-bs-toggle="modal" data-bs-target="#SignUpModal">Sign Up</a>
								{# a mettre dans les attributs ci-dessus quand modale data-bs-toggle="modal" data-bs-target="#SignUpModal #}
							</li>

							<li class="nav-item">
								<a href="{{ path('app_login')}}" class="nav-link custom-font" data-bs-toggle="modal" data-bs-target="#LogInModal">Log In</a>
								{# a mettre dans les attributs ci-dessus quand modale data-bs-toggle="modal" data-bs-target="#LogInModal" #}
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>

		{% include "partials/modals_login.html.twig" %}


		<div class="container">
			<div class="row my-5 d-block">
				<div class="col-6">
					<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img class="d-block w-100" src="../public/images/pic1.jpg" alt="First slide">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="../public/images/pic2.jpg" alt="Second slide">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="../public/images/pic3.jpg" alt="Third slide">
							</div>
						</div>

					</div>

				</div>

			</div>

			<div class="row my-5 d-flex justify-content-end">
				<div class="col-6">
					<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img class="d-block w-100" src="../public/images/pic1.jpg" alt="First slide">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="../public/images/pic2.jpg" alt="Second slide">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="../public/images/pic3.jpg" alt="Third slide">
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>

	</body>
{% endblock %}
