{% extends 'base.html.twig' %}


{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<body>
		<header>
			<div class="header-bloc">


				<nav class="navbar navbar-expand-sm">
					<a class="navbar-brand logo" href="#">
						<img src="../public/images/logo.png">
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav">
					
					<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav align-items-end">
						<li class="nav-item">
						<a href="#" class="nav-link custom-font">Sign In</li>
						<li class="nav-item">
						<a href="#" class="nav-link custom-font">Log In</a></li>
					</ul>
					</div>
				</nav>
			</div>
		</body>
	</body>
</header></body>{% endblock %}
