:root {

    --main-bg-color: #f4ec5d;
    --logo-and-font: #9c1e01;

}
body {

    background-color:var(--main-bg-color);
    font-size: 1.4em;
    font-family:'Source Sans Pro', sans-serif;
}

.custom-font {

    color: var(--logo-and-font);
    

}

/* -----------------------------------------H E A D E R-------------------------------------------------- */
/* -----------------------------------------H E A D E R-------------------------------------------------- */


.header {

    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: #800 solid 2px;
    width: 90%;
    height:20vh;
    margin: auto;
    
}

/* -----------------------------------------N A V-------------------------------------------------- */
/* -----------------------------------------N A V-------------------------------------------------- */


.ul-nav {

    width: 100%;
}

.nav-icon-box {


    margin-left: 2em;
    
}

.nav-log-out {

    max-width:7%;
    max-height:7%;
}


.collection-picto {

    width: 2.5em;
    height: 2.5em;
    text-align:center;

}

.pp-picto {

    
    width:60%;
    height:60%;

}

.logout-picto {

    width: 2em;
    height: 2em;
}

.logo {
    
    width:40%;
    height: 40%;
    
}

img {
    max-width:100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: #800;
  }
  a:visited {
    color: var(--logo-and-font);
  }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
    background: #800;
  }

  /* ----------------------------------------P A R T I A L S-------------------------------------------------- */
/* ------------------------------------------P A R T I A L S-------------------------------------------------- */


.buttons {

   display:flex; 
     justify-content: flex-start; 
    width:90%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    
}

#add-picto {

    width: 1.3em;
    margin-right:.3em;
   display:inline-block;
   vertical-align: middle;

    
    /* height: 1em; */
}


/* -----------------------------------------P A G E  C O L L E C T I O N-------------------------------------------------- */
/* -----------------------------------------P A G E  C O L L E C T I O N-------------------------------------------------- */


.container-custom--cat {

    width: 90%;
    margin:auto;
    margin-bottom: 2em;
}

.container-custom--item {
    width: 90%;
    margin:auto;

    
}



.custom-cell {

    width: 12.499999995%;
    border-right: solid 1px var(--logo-and-font);
    margin-bottom: .7em;
}