:root {

    --main-bg-color: #f4ec5d;
    --logo-and-font: #9c1e01;

}
body {

    background-color:var(--main-bg-color);
    font-size: 1.4em;
    font-family:'Source Sans Pro', sans-serif;
}

.custom-font {

    color: var(--logo-and-font);
    

}

/* -----------------------------------------H E A D E R-------------------------------------------------- */
/* -----------------------------------------H E A D E R-------------------------------------------------- */


.header {

    display:flex;
    justify-content: space-around;
    align-items: end;
    padding-top: 2em;
    width: 90%;
    margin: auto;
    
}

.ul-nav {

    width: 100%;
}

.nav-icon-box {


    margin-left: 2em;
    
}

.nav-log-out {

    max-width:7%;
    max-height:7%;
}

img {

    max-width: 100%;
    max-height:100%;
}

.collection-picto {

    width: 2.5em;
    height: 2.5em;
    text-align:center;

}

.pp-picto {

    
    width:60%;
    height:60%;

}

.logout-picto {

    width: 2em;
    height: 2em;
}

.logo {
    
    width:40%;
    height: 40%;
    
}

img {
    max-width:100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: #a00;
  }
  a:visited {
    color: #844;
  }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
    background: #800;
  }

